<div class="row">
  <div class="col-sm-12">
    <form class="well form-inline form-validation" role="form" name="vm.searchForm" id="searchFrom" novalidate>
      <fieldset>
        <legend>Search</legend>
      </fieldset>
      <div class="form-group">
        <label class="sr-only" for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Title" data-ng-model="vm.criteria.title" required>
        <div ng-messages="vm.searchForm.title.$error" class="error" role="alert" data-ng-show="!vm.searchForm.title.$pristine">
          <div ng-message="required">Required</div>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only" for="year">Year</label>
        <input type="text" class="form-control" id="year" name="year" placeholder="year" data-ng-pattern="/^(19|20)\d{2}$/" data-ng-model="vm.criteria.year">
        <div ng-messages="vm.searchForm.year.$error" class="error" role="alert" data-ng-show="!vm.searchForm.year.$pristine">
          <div ng-message="pattern">Format is not correct (1900-2099)</div>
        </div>
      </div>
      <button id="submitBtn" type="submit" class="btn btn-primary" data-ng-click="vm.search(true)" data-ng-disabled="vm.searchForm.$invalid">Search</button>
      <button id="resetBtn" type="button" class="btn btn-danger" data-ng-click="vm.reset()">Reset</button>
    </form>
  </div>
</div>
<my-loading data-ng-if="vm.loading"></my-loading>
<div class="panel panel-default" data-ng-if="!vm.loading && vm.results">
  <div class="panel-heading">
    Result
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>Poster</th>
          <th>
            <a href data-ng-click="vm.sortBy(vm.constant.sortType.title)">Title</a>
            <span class="glyphicon glyphicon-menu-down" data-ng-if="vm.sortColumn===vm.constant.sortType.title&&vm.reverse" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-menu-up" data-ng-if="vm.sortColumn===vm.constant.sortType.title&&!vm.reverse" aria-hidden="true"></span>
          </th>
          <th>
            <a href data-ng-click="vm.sortBy(vm.constant.sortType.year)">Year</a>
            <span class="glyphicon glyphicon-menu-down" data-ng-if="vm.sortColumn===vm.constant.sortType.year&&vm.reverse" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-menu-up" data-ng-if="vm.sortColumn===vm.constant.sortType.year&&!vm.reverse" aria-hidden="true"></span>
          </th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="result in vm.results| orderBy:vm.sortColumn:vm.reverse">
          <td>
            <a ui-sref="detail({id:result.imdbID})">
              <img class="row-image" data-ng-if="result.Poster!==vm.constant.noValue" data-ng-src="{{::result.Poster}}" alt="{{::result.Title}}"
                title="{{::result.Title}}">
            </a>
            <span data-ng-if="result.Poster===vm.constant.noValue">N/A</span>
          </td>
          <td>
            <a ui-sref="detail({id:result.imdbID})"> 
              {{ ::result.Title }}
           </a>
          </td>
          <td>{{ ::result.Year }}</td>
          <td>{{ ::result.Type }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <div class="row">
      <div class="col-sm-12 text-right">
        <uib-pagination class="pagination-sm m-t-none m-b-none" total-items="vm.totalResults" ng-model="vm.criteria.page" max-size="vm.maxSize"
          ng-change="vm.search()" boundary-link-numbers="true" rotate="false"></uib-pagination>
      </div>
    </div>
  </footer>
</div>